.container-form-alumnos {
  .form {
    display: flex;
    background-image: url(../../../../assets/images/back-form.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    h1 {
      font-family: "League Spartan", sans-serif;
      color: white;
      font-size: 3rem;
      font-style: italic;
    }
  }

  .nombreCursos {
    border: 1px solid wheat;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    background: #38312f;

    .nombreCursoInsc {
      margin-bottom: 0;
    }
  }
  .cont-info {
    height: 90vh;
    background-image: url(../../../../assets/images/fondo2.png);
    background-size: cover;
    .detalleAlumno {
      margin: 3rem auto auto auto;
      background: linear-gradient(#494342, #494342) padding-box,
        linear-gradient(98deg, #5ce1e6, #ffde59) border-box;
      border-style: solid;
      border-width: 0.3rem;
      border-color: transparent;
      border-image-slice: 1;
      border-radius: 10px;
      padding: 1rem;
      width: 30%;
    }
  }
}
