<div class="cont-general">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="itemsTool">
      <div>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
      </div>
      <div>
        <h1 routerLink="home" class="logo-curso">MITCURSOS</h1>
      </div>
      <div>
        <p style="margin-bottom: 0">
          Bienvenid@!
          <span *ngIf="sesion.usuarioActivo">{{
            sesion.usuarioActivo?.usuario
          }}</span>
        </p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon (click)="logOut()">input</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="cont-side">
    <mat-sidenav #sidenav opened="true" mode="side">
      <mat-nav-list class="side-icons">
        <div class="rutas">
          <a
            class="redes"
            [routerLinkActive]="'active'"
            mat-list-item
            routerLink="home"
            >INICIO</a
          >
          <a
            class="redes"
            [routerLinkActive]="'active'"
            mat-list-item
            routerLink="courses"
            >CURSOS</a
          >
          <a
            class="redes"
            [routerLinkActive]="'active'"
            mat-list-item
            routerLink="students/alta-alumno"
            >MIS DATOS</a
          >
          <a
            class="redes"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-list-item
            routerLink="students"
            *ngIf="sesion.usuarioActivo?.admin"
            >ALUMNOS</a
          >
        </div>
        <div>
          <a
            target="_blank"
            mat-list-item
            href="https://www.linkedin.com/in/mariel-torres-front-end/"
          >
            <img
              class="icon-redes"
              src="../assets/images/linkedin (2).png"
              alt="linkedin"
          /></a>
          <a
            target="_blank"
            mat-list-item
            href="https://github.com/MITdesarrollo"
          >
            <img
              class="icon-redes"
              src="../assets/images/github (3).png"
              alt="github"
          /></a>
          <a
            mat-list-item
            [cdkCopyToClipboard]="'marieltorres97@gmail.com'"
            (click)="copie()"
          >
            <img
              class="icon-redes"
              src="../assets/images/gmail.png"
              alt="gmail"
          /></a>
        </div>
        <div>
          <p style="font-size: 0.6rem; margin-left: 0.5rem">
            Copyright © 2022 <br />
            Mariel Torres
          </p>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
